// Sizes

$header-height: 35px;
$left-panel-width: 250px;
$pinboard-width: 220px;
$vis-bar-height: 35px;

$title-height: 35px;
$item-height: 30px;

// Base Colors

$white: #ffffff;
$red: #ff0000;
$black: #000000;
$gray: #cccccc;

// Colors -------------------

$base-background: hsl(0, 0%, 89%);

$module-background: $white;
$module-title-color: hsl(0, 0%, 53%);
$module-text-color: hsl(0, 0%, 27%);
$module-shadow-color: hsla(0, 0%, 0%, 0.14);

$item-background: hsl(0, 0%, 95%);
$item-border: hsl(0, 0%, 82%);
$item-remove-color: hsl(0, 0%, 73%);
$item-selected-background: hsl(200, 84%, 88%);
$item-selected-border: hsl(200, 64%, 73%);
$item-selected-remove-color: hsl(200, 53%, 63%);

/// other

$alpha-background: hsl(216, 57%, 57%);
$alpha-text-color: $white;

$beta-background: hsl(0, 0%, 89%);
$beta-text-color: hsl(0, 0%, 53%);
$beta-border-color: hsl(0, 0%, 73%);

$detail-background: $white;
$detail-text-color: hsl(0, 0%, 27%);
$detail-special-text-color: hsl(220, 49%, 52%);
$detail-border-color: hsl(0, 0%, 80%);
$detail-hover: hsl(217, 59%, 90%);
$detail-highlight: hsl(217, 59%, 85%);

$button-primary-background: hsl(220, 45%, 45%);
$button-primary-text-color: $white;
$button-secondary-background: hsl(0, 0%, 87%);
$button-secondary-text-color: hsl(0, 0%, 40%);

// Vis

$main-time-line: hsl(217, 32%, 50%);
$main-time-area: hsl(216, 33%, 91%);

// Transitions ----------------

$duration: .2s;
