// Header
$header-height: 42px;

// Panels
$left-panel-width: 240px;
$side-drawer-width: 255px;
$pinboard-width: 240px;
$vis-selector-width: 78px;

// Module spacing
$tile-margin-v: 10px;
$tile-margin-h: 10px;
$small-tile-margin: 5px;

// Modules
$title-height: 36px;

$dimension-height: 27px;
$measure-height: 27px;

$search-box-height: 30px;
$tile-padding-h: 12px;

$pin-title-height: 36px;
$pin-item-height: 24px;
$pin-padding-bottom: 12px;

$control-tile-height: 36px;
$item-width: 192px;
$control-padding-v: 4px;
$bar-title-width: 66px;

$vis-item-width: 79px;
$vis-item-height: 70px;

// Other
$highlight-button-size: 26px;
$highlight-button-spacing: 5px;
$highlight-button-frame-gap: 7px;
$menu-title-bar-height: 40px;
