.row {
  @include row-style;
  white-space: nowrap;

  &.hover,
  &.selected {
    > .measure {
      > .background-container {
        > .background {
          background-color: #a8dbf5;
          border-top: 1px solid #98cbe5;
          border-bottom: 1px solid #98cbe5;
        }
      }
    }
  }

  > .measure {
    white-space: nowrap;
    padding-left: $measure-column-padding-left;

    overflow: hidden;
    padding-top: 8px;

    display: inline-block;
    width: $measure-width;
    height: calc(100% + 2px);
    margin-top: -1px;

    &.all-alone {
      width: 100%;
    }


    > .background-container {
      position: absolute;
      top: 0;
      left: $measure-column-padding-left;
      right: 0;
      bottom: 0;

      > .background {
        height: 100%;

        background-color: #d2edfa;
        border-top: 1px solid #bed9e6;
        border-bottom: 1px solid #bed9e6;
      }
    }

    > .label {
      padding-left: 4px;
    }
  }
}
