.measure-name {
  background-color: $white;
  border-bottom: 1px solid $border-super-light;
  padding-top: $header-padding-top;

  white-space: nowrap;
  padding-left: $measure-column-padding-left;

  display: inline-block;
  width: $measure-width;
  height: 100%;

  > .title-wrap {
    @include ellipsis;
    display: inline-block;
    height: 100%;
    padding-left: 4px;
    max-width: 100%;
  }

  &.sorted {
    > .title-wrap {
      max-width: calc(100% - 15px);
    }
  }

  > .sort-arrow {
    @include sort-arrow;
  }
}
