> .post-body {
  > .highlight-cont {
    position: absolute;
    left: $space-left;
    right: 0;
    top: $header-height;
    bottom: 0;
    overflow: hidden;

    .highlighter {
      right: 0;
      height: $row-height + 1;
      margin-top: -1px;
      border: 1px solid $hover;

      &:after {
        @include unpin-full(-1px);
        content: '';
        border: 1px dashed $highlight-border;
      }
    }
  }

  > .vertical-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    bottom: 0;
    width: $segment-width;
    box-shadow: 4px 0 4px -3px hsla(0, 0, 0, 0.2);
  }

}
