@import '../../imports';

$header-height: 38px;
$segment-width: 300px;
$measure-width: 100px;
$row-height: 30px;
$space-left: 10px;

$header-padding-top: 12px;

.table {
  overflow: hidden;

  .sort-arrow {
    position: absolute;
    top: 12px;
    width: 8px;

    &.ascending {
      transform: rotate(180deg);
    }
  }

  .corner {
    position: absolute;
    left: $space-left;
    top: 0;
    width: $segment-width;
    height: $header-height;
    overflow: hidden;
    padding: $header-padding-top 0 0 6px;
    border-bottom: 1px solid $border-extra-light;

    .sort-arrow {
      right: 2px;
    }
  }

  .header-cont {
    position: absolute;
    left: $space-left + $segment-width;
    top: 0;
    right: 0;
    height: $header-height;
    overflow: hidden;

    .header {
      height: $header-height;
      border-bottom: 1px solid $border-extra-light;
      white-space: nowrap;
    }

    .sort-arrow {
      right: -15px;
    }
  }

  .segments-cont {
    position: absolute;
    left: $space-left;
    top: $header-height;
    bottom: 0;
    width: $segment-width;
    overflow: hidden;
  }

  .body-cont {
    position: absolute;
    left: $space-left + $segment-width;
    right: 0;
    top: $header-height;
    bottom: 0;
    overflow: hidden;

    .row {
      white-space: nowrap;
      width: 100%;
    }
  }

  .highlight-cont {
    position: absolute;
    left: $space-left;
    right: 0;
    top: $header-height;
    bottom: 0;
    overflow: hidden;

    .highlighter {
      right: 0;
      height: $row-height - 1;
      border: 1px dashed $brand;
    }
  }

  .loader,
  .query-error {
    @include pin-full;
  }

  .horizontal-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    height: $header-height;
    box-shadow: 0 4px 4px -3px hsla(0, 0, 0, 0.2);
  }

  .vertical-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    bottom: 0;
    width: $segment-width;
    box-shadow: 4px 0 4px -3px hsla(0, 0, 0, 0.2);
  }

  .scroller-cont {
    width: 100%;
    height: 100%;
    overflow: auto;

    .scroller {
      background: $white;
      opacity: 0.001; // must be > 0 for it to get mouse events
      cursor: pointer;
    }
  }

  .highlight-controls {
    position: absolute;
    right: 20px;
  }

  .segment,
  .row {
    position: absolute;
    height: $row-height;
    border-bottom: 1px solid $border-extra-light;

    &.hover {
      background: $hover;
    }

    &.nest0 {
      font-weight: $bold;
    }
  }

  .row {
    left: 0;
  }

  .not-selected {
    &:after {
      @include pin-full;
      background: $white;
      opacity: 0.5;
      content: '';
    }
  }

  .measure-name {
    padding-top: $header-padding-top;

    .title-wrap {
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .segment,
  .measure-name,
  .measure {
    white-space: nowrap;
    padding-left: 6px;
  }

  .segment,
  .measure {
    overflow: hidden;
    padding-top: 8px;
  }

  .measure-name,
  .measure {
    display: inline-block;
    width: $measure-width;
    height: 100%;
    text-align: right;
  }
}
