@import '../../imports';

.about-modal {
  p {
    margin-bottom: $form-spacing-compact;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: $brand;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .button-bar {
    padding-top: 6px;
  }
}
