@import '../../imports';

$icon-width: 37px;

.dimension-list-tile {
  @extend %module;
  @extend %module-title;
  @extend %white-shadow;

  overflow: hidden;

  .items {
    position: absolute;
    top: $title-height;
    bottom: 0;
    width: 100%;
    overflow: auto;
    color: $text-standard;
    transition: height 0.1s ease-in-out;

    .dimension {
      @include pin-top($dimension-height);
      background: $white;
      cursor: pointer;
      overflow: hidden;
      transition: transform 0.1s ease-in-out;

      &:last-child {
        margin-bottom: 12px;
      }

      &.highlight {
        background: $hover;
      }

      &.selected {
        background: $highlight;
      }

      .icon {
        @include pin-left($icon-width);

        svg {
          position: absolute;
          left: $padding-compact - 2px;

          path {
            fill: hsla(0, 0, 0, 0.35);
          }
        }
      }

      &.type-string .icon svg {
        top: 10px;
        width: 17px;
      }

      &.type-number .icon svg {
        top: 6px;
        width: 16px;
      }

      &.type-boolean .icon svg {
        top: 6px;
        width: 15px;
      }

      &.type-time .icon svg {
        top: 6px;
        margin-left: 1px;
        width: 15px;
      }

      &.type-string-geo .icon svg {
        top: 6px;
        margin-left: 1px;
        width: 15px;
      }

      .item-title {
        @include ellipsis;
        position: absolute;
        top: 7px;
        bottom: 0;
        right: 10px;
        left: $icon-width;
      }
    }
  }
}
