@import '../../imports';

%default-info-bubble-position {
  position: absolute;
  right: 5px;
  top: 3px;

  svg path {
    @include css-variable(fill, text-lighterish);
  }

  &:hover {
    svg path {
      @include css-variable(fill, text-default-color);
    }
  }
}
