@import '../../imports';

.vis-selector {
  @extend %module;

  .vis-item {
    display: inline-block;
    width: $vis-item-width;
    height: $vis-item-height;
    cursor: pointer;

    .vis-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 7px;
      text-align: center;
      font-size: 11px;
      font-weight: 400;
      color: hsl(0, 0%, 60%);
    }

    svg {
      position: absolute;
      top: 3px;
      left: 13px;
      width: 53px;
      height: 53px;
    }
  }

  .vis-selector-menu {
    position: absolute;
    top: 100%;
    right: 0;
  }
}
