@import '../../imports';

.date-range-input {
  .input-field {
    border: 1px solid #d4d4d4;
    border-radius: $corner;
    box-shadow: inset 0 1px 1px rgba($black, 0.13);
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    height: $control-height;

    &:hover {
      border-color: #b8b8b8;
    }

    &:focus {
      border-color: $brand;
    }

    &.error {
      border-color: $danger;
    }
  }
}
