@import '../../config/constants';
@import '../../utils/mixins';

.filter-split-panel {
  padding: $tile-padding-v $tile-padding-h;
  display: flex;
  flex-direction: column;

  .filter-tile,
  .split-tile {
    margin-bottom: $tile-padding-v;
  }

  .dimension-list-tile {
    flex: 1;
  }
}
