@import '../../config/constants';
@import '../../utils/mixins';

.filter-split-panel {
  padding: 10px;
  display: flex;
  flex-direction: column;

  .filter-tile,
  .split-tile {
    margin-bottom: 10px;
  }

  .dimension-list-tile {
    flex: 1;
  }
}
