/.git/
/.github/
/.idea/
/config/
/docs/
/lib/
/resources/
/src/
/test/
*.js.map
*.fixtures.js
*.mocha.js
*.mock.js
*.ts
*.tgz
*.iml
.dockerignore
.release-it.json
.sass-lint.yml
Dockerfile
tsconfig*.json
tslint.json
