; dependencies saved to package.json will be configured with an exact version rather than using npm's default semver range operator
save-exact=true
; stop 'npm install' from sending an audit report
audit = false
