@import '../../variables';
@import '../../mixins';

.vis-bar {
  @extend %module;
  padding: 12px 0 0 10px;

  .vis-item {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;

    &.selected {
      text-decoration: underline;
    }
  }
}
