@import '../../variables';
@import '../../mixins';

.filter-split-panel {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;

  background: $beta-background;
  color: $beta-text-color;
  border-right: 1px solid $beta-border-color;

  $title-height: 40px;

  .section {
    .title {
      padding: 15px 0 0 10px;
      height: $title-height;
      font-size: 12px;
      text-transform: uppercase;
    }

    .items {
      color: $detail-text-color;
      transition: height 0.1s ease-in-out;

      .item {
        @include pin-top(30);

        padding: 8px 0 0 10px;
        background: $detail-background;
        border-bottom: 1px solid $detail-border-color;
        cursor: pointer;
        overflow: hidden;
        transition: transform 0.1s ease-in-out;

        &.selected {
          background: $detail-highlight;
        }

        &.dimension {
          border-bottom: 0;
        }

        .remove {
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 25px;
          text-align: center;
          padding-top: 8px;
          cursor: pointer;
        }

        .icon {
          display: inline-block;
          margin-right: 5px;
          cursor: ns-resize;
        }
      }
    }

    &.no-drag {
      .item:hover {
        background: $detail-hover;
      }
    }

    &.dimensions {
      flex: 1;

      .items {
        position: absolute;
        top: $title-height;
        bottom: 0;
        width: 100%;
        overflow: auto;

        .dummy-item {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: $detail-background;
          transition: top 0.1s ease-in-out;
        }
      }
    }
  }
}
