@import '../../imports';

.clearable-input {
  padding-right: 28px;

  input {
    width: 100%;
    height: 100%;
    background: none;
  }

  .clear {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    background: $text-lightest;
    border-radius: 30px;
    width: 18px;
    height: 18px;

    &:hover {
      background: $text-lighter;
    }

    svg {
      width: 10px;
      margin-top: 5px;
      margin-left: 4px;

      path {
        fill: $white;
      }
    }
  }

  &.empty .clear {
    display: none;
  }
}
