@import '../../variables';
@import '../../mixins';

$side-drawer-width: 250px;

.side-drawer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: $side-drawer-width;

  font-size: 16px;
  background: $detail-background;
  border-right: 1px solid $detail-border-color;

  .title {
    height: $header-height;
    padding: 5px 0 0 15px;
    border-bottom: 1px solid $detail-border-color;
  }

  .data-sources {
    li {
      padding: 12px 15px;
      cursor: pointer;

      &.selected {
        background: $detail-highlight;
      }

      &:hover {
        background: $detail-hover;
      }
    }
  }

  .add-data-source {
    padding: 12px 15px;
    cursor: pointer;

    &:hover {
      background: $detail-highlight;
    }
  }
}

.side-drawer-enter {
  transform: translate3d(-$side-drawer-width - 1, 0, 0);

  &.side-drawer-enter-active {
    transform: translate3d(0, 0, 0);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1) .1s;
  }
}

.side-drawer-leave {
  transform: translate3d(0, 0, 0);

  &.side-drawer-leave-active {
    transform: translate3d(-$side-drawer-width - 1, 0, 0);
    transition: transform .2s cubic-bezier(.4, 0, .2, 1) .1s;
  }
}
