@import '../../imports';

.menu-action-bar {
  .action {
    display: inline-block;
    width: 25%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: $brand;

    svg {
      width: 30px;

      path {
        fill: $brand;
      }
    }
  }
}
