@import '../../variables';
@import '../../mixins';

.nested-table-vis {
  .header {
    white-space: nowrap;
  }

  .rows {
    @include unpin-top(25px);
    overflow-x: hidden;
    overflow-y: auto;

    .row {
      white-space: nowrap;
    }
  }

  .segment,
  .measure {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 4px;
  }

  .segment {
    width: 200px;
  }

  .measure {
    width: 100px;
    text-align: right;
  }
}
