@import '../../config/constants';
@import '../../utils/mixins';

$header-height: 38px;
$segment-width: 200px;
$measure-width: 100px;
$row-height: 30px;
$space-left: 10px;

$header-padding-top: 12px;

.nested-table-vis {
  .corner {
    position: absolute;
    left: $space-left;
    top: 0;
    width: $segment-width;
    height: $header-height;
    overflow: hidden;
    padding: $header-padding-top 0 0 6px;
    font-weight: 600;
    border-bottom: 1px solid $normal-border;
  }

  .header-cont {
    position: absolute;
    left: $space-left + $segment-width;
    top: 0;
    right: 0;
    height: $header-height;
    overflow: hidden;
    font-weight: 600;

    .header {
      height: $header-height;
      border-bottom: 1px solid $normal-border;
      white-space: nowrap;
    }

    .arrow {
      position: absolute;
      right: -15px;
      margin-top: 1px;
    }
  }

  .segments-cont {
    position: absolute;
    left: $space-left;
    top: $header-height;
    bottom: 0;
    width: $segment-width;
    overflow: hidden;
  }

  .body-cont {
    position: absolute;
    left: $space-left + $segment-width;
    right: 0;
    top: $header-height;
    bottom: 0;
    //overflow: auto;
    overflow: hidden;

    .row {
      white-space: nowrap;
      width: 100%;
    }
  }

  .horizontal-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    height: $header-height;
    box-shadow: 0 2px 2px -2px;
  }

  .vertical-scroll-shadow {
    position: absolute;
    left: $space-left;
    top: 0;
    bottom: 0;
    width: $segment-width;
    box-shadow: 2px 0 2px -2px;
  }

  .scroller-cont {
    width: 100%;
    height: 100%;
    overflow: auto;

    .scroller {
      background: $white;
      opacity: 0.001; // must be > 0 for it to get mouse events
    }
  }

  .segment,
  .row {
    height: $row-height;
    border-bottom: 1px solid $light-border;
  }

  .measure-name {
    padding-top: $header-padding-top;
  }

  .segment,
  .measure-name,
  .measure {
    white-space: nowrap;
    padding-left: 6px;
  }

  .segment,
  .measure {
    overflow: hidden;
    padding-top: 8px;
  }

  .measure-name,
  .measure {
    display: inline-block;
    width: $measure-width;
    height: 100%;
    text-align: right;
  }
}
