@import '../../imports';

$icon-width: 20px;
$icon-height: 16px;
$icon-margin: 10px;

.menu-header {
  .menu-title {
    padding: 15px 0 10px 10px;
    color: $text-standard;
    font-weight: 600;
  }

  .search {
    position: absolute;
    text-align: center;
    right: $icon-margin;
    top: $icon-margin + 1;
    width: $icon-width;
    height: $icon-height;
    cursor: pointer;

    &:hover {
      path {
        fill: $text-medium;
      }
    }
  }
}
