@import '../../imports';

$title-bar-height: 40px;
$action-bar-height: 52px;

$shpitz-size: 12px;

.bubble-menu {
  @extend %menu-cont;
  position: absolute;

  .shpitz {
    position: absolute;

    &:before,
    &:after {
      content: '';
      position: absolute;
      margin-top: -1 * $shpitz-size;
    }

    &:before {
      @include triangle(left, $shpitz-size, $shpitz-size, $border-light);
      left: -1 * $shpitz-size;
    }

    &:after {
      @include triangle(left, $shpitz-size, $shpitz-size, $white);
      left: -1 * $shpitz-size + 1;
    }
  }

  .menu-header {
    @include pin-top($title-bar-height);
  }

  .menu-table,
  .menu-time-series {
    position: absolute;
    top: $title-bar-height;
    bottom: $action-bar-height;
    width: 100%;
  }

  .menu-action-bar {
    @include pin-bottom($action-bar-height);
  }
}
