@import '../../imports';

$vis-menu-padding: 16px;
$vis-item-margin: 1px;

.vis-selector-menu {
  @extend %menu-cont;
  font-size: 0;
  width: ($vis-item-width + $vis-item-margin * 2) * 3 + $vis-menu-padding * 2;
  padding: $vis-menu-padding;

  .vis-item {
    margin: 1px;
    border-radius: $corner;

    &:hover {
      box-shadow: inset 0 0 0 1px $border-extra-light;
    }

    &.selected {
      box-shadow: inset 0 0 0 1px $border-light;
    }
  }
}
