@import '../../imports';

$vis-menu-padding: 12px;

.vis-selector-menu {
  @extend %menu-cont;
  width: $vis-item-width * 3 + $vis-menu-padding * 2;
  padding: $vis-menu-padding;

  .vis-item.selected {
    border: 1px solid $border-light;
    border-radius: 2px;
  }
}
