@import '../../imports';

.split-tile {
  @extend %module;
  @extend %module-h-title;

  .items {
    @include unpin-left($bar-title-width);
    transition: height 0.1s ease-in-out;
    overflow: hidden;

    .split {
      @extend %dimension-item;
      position: absolute;
      left: 0; // It gets horizontal position from the JS
    }
  }

  .fancy-drag-indicator {
    @include unpin-left($bar-title-width);
  }
}
