@import '../../imports';

.split-tile {
  @extend %module;
  @extend %module-h-title;

  .items {
    @include unpin-left($title-width);
    transition: height 0.1s ease-in-out;
    overflow: hidden;

    .split {
      @extend %dimension-item;
      position: absolute;
      left: 0; // It gets horizontal position from the JS

      .remove {
        padding-top: 8px; //for some reason it does not align with the one in filters
      }
    }
  }

  .fancy-drag-indicator {
    @include unpin-left($title-width);
  }
}
