// Sizes

$header-height: 44px;
$left-panel-width: 240px;
$side-drawer-width: 255px;
$pinboard-width: 240px;
$vis-bar-height: 35px;

$title-height: 32px;
$item-height: 27px;
$pin-title-height: 34px;
$search-box-height: 30px;
$pin-item-height: 24px;

$tile-margin-v: 10px;
$tile-margin-h: 14px;

$tile-padding-h: 11px;

// Base Colors

$white: #ffffff;
$red: #ff0000;
$black: #000000;
$gray: #cccccc;

// Colors -------------------

$light-border: hsl(0, 0%, 87%);
$lightish-border: hsl(0, 0%, 82%);
$normal-border: hsl(0, 0%, 73%);

$light-background: hsl(0, 0%, 95%);

$header-background: hsl(201, 81%, 49%);
$header-text-color: $white;

$base-background: hsl(0, 0%, 89%);

$module-background: $white;
$module-title-color: hsl(0, 0%, 60%);
$module-text-color: hsl(0, 0%, 27%);
$module-shadow-color: hsla(0, 0%, 0%, 0.14);

$item-background: $light-background;
$item-border: $lightish-border;
$item-remove-color: hsl(0, 0%, 73%);
$item-selected-background: hsl(200, 84%, 88%);
$item-selected-border: hsl(200, 64%, 73%);
$item-selected-remove-color: hsl(200, 53%, 63%);

/// other

$beta-background: hsl(0, 0%, 89%);
$beta-text-color: hsl(0, 0%, 53%);
$beta-border-color: hsl(0, 0%, 73%);

$detail-background: $white;
$detail-text-color: hsl(0, 0%, 27%);
$detail-special-text-color: hsl(220, 49%, 52%);
$detail-border-color: hsl(0, 0%, 80%);
$detail-hover: hsl(202, 79%, 89%);
$detail-highlight: hsl(217, 59%, 85%);

$button-primary-background: $header-background;
$button-primary-text-color: $white;
$button-secondary-background: hsl(0, 0%, 87%);
$button-secondary-text-color: hsl(0, 0%, 40%);

// Vis

$main-time-line: $header-background;
$main-time-area: hsl(202, 81%, 94%);

// Transitions ----------------

$duration: .2s;
