// Sizes

$header-height: 44px;
$left-panel-width: 240px;
$side-drawer-width: 255px;
$pinboard-width: 240px;
$vis-selector-width: 100px;

$title-width: 80px;
$control-tile-height: 37px;
$title-height: 32px;
$item-width: 200px;
$pin-title-height: 34px;
$search-box-height: 30px;
$pin-item-height: 24px;

$tile-margin-v: 10px;
$tile-margin-h: 14px;

$tile-padding-v: 3px;
$tile-padding-h: 11px;

$menu-title-bar-height: 40px;

$vis-item-width: 100px;
$vis-item-height: 75px;

$highlight-button-width: 26px;
$highlight-button-frame-gap: 7px;
