@import '../../imports';

.link-view {
  .link-header-bar {
    @include pin-top($header-height);
  }

  .container {
    @include unpin-top($header-height);
  }

  .link-panel {
    @include pin-left($left-panel-width - $tile-margin-h);

    background: $white;
  }

  .center-panel {
    position: absolute;
    top: $tile-margin-v;
    bottom: $tile-margin-v;
    left: $left-panel-width;
    right: $pinboard-width;

    .center-top-bar {
      @extend %module;
      @include pin-top($control-tile-height + 1px + $control-tile-height);
      border-radius: $corner;

      font-size: 20px;
    }

    .center-main {
      @include unpin-top($control-tile-height + 1px + $control-tile-height + $small-tile-margin);

      .visualization {
        @extend %module;
        @include pin-full;
        border-radius: $corner;

        .time-series,
        .table {
          @include pin-full;
        }
      }

      .manual-fallback {
        @include pin-full;
      }

      .drop-indicator {
        @include pin-full;
        z-index: 9;
      }
    }
  }

  .pinboard-panel {
    @include pin-right($pinboard-width);
    margin-bottom: $tile-margin-v - 1px;

    .pinboard-measure-tile,
    .dimension-tile,
    .placeholder-tile {
      &:first-child {
        border-radius: $corner $corner 0 0;
      }

      &:last-child {
        border-radius: 0 0 $corner $corner;
      }
    }
  }
}
