@import '../../imports';

$checkbox-width: 20px;

.string-filter-menu {
  .menu-table {
    @extend %white-shadow;
    padding-top: 12px;
    background: $white;
    color: $text-standard;

    .search-box {
      height: 30px;
      padding: 0 10px;

      .clearable-input {
        @extend %input-cont-inset;
        width: 100%;
        height: 31px;
        padding-left: 6px;
      }
    }

    .rows {
      height: 280px;
      margin-top: 10px;

      overflow: auto;
    }

    .row {
      height: 24px;
      cursor: pointer;

      overflow: hidden;
      white-space: nowrap;
      padding-left: 10px;
      margin-right: 10px;
      padding-top: 2px;

      .label {
        display: inline-block;
        vertical-align: top;
        padding-top: 4px;
      }

      &:hover {
        background: $hover;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }

    .message {
      padding: 4px 10px;
      color: $text-light;
      font-style: italic;
    }

    .loader,
    .query-error {
      @include pin-full;
    }
  }

  .button-bar {
    padding: 0 0 10px 10px;

    .ok {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
