@import '../../imports';

$checkbox-width: 20px;

.string-filter-menu {
  .menu-table {
    @extend %white-shadow;
    background: $white;
    color: $text-standard;

    &:after {
      @include unpin-full(0, -14px, 0, -14px);
    }

    .search-box {
      height: 30px;

      .clearable-input {
        @extend %input-cont-inset;
        width: 100%;
        height: $input-height;
        padding-left: 6px;
      }
    }

    .rows {
      height: 280px;
      margin-top: 10px;
      margin-left: -$padding-compact;
      margin-right: -$padding-compact;

      overflow: auto;
    }

    .row {
      height: 24px;
      cursor: pointer;
      padding: 0 $padding-compact;

      .row-wrapper {
        @include ellipsis;
        height: 100%;

        .label {
          display: inline-block;
          vertical-align: top;
          padding-top: 4px;
        }
      }

      &:hover {
        background: $hover;
      }

      &:last-child {
        margin-bottom: 12px;
      }
    }

    .message {
      padding: 4px 10px;
      color: $text-light;
      font-style: italic;
    }

    .loader,
    .query-error {
      @include pin-full;
    }
  }

  .button-bar {
    margin-top: 10px;

    .ok {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
