@import '../../imports';

.home-view {
  .home-header-bar {
    @include pin-top($header-height);
  }

  .container {
    @include unpin-top($header-height);
    overflow: scroll;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100%;
    padding: 60px 0 60px 0;
  }

  .home {
    @extend %menu-cont;
    display: inline-block;
    width: 460px;

    .items {
      .item {
        .icon svg path {
          fill: $brand;
        }
      }
    }
  }
}
