@import '../../imports';

.tile-header {
  @extend %module-title;

  .title {
    //font-size: 13px;
    //text-transform: none;
  }

  .search {
    position: absolute;
    top: 11px;
    right: 30px;
    cursor: pointer;
  }

  .close {
    position: absolute;
    top: 11px;
    right: $tile-padding-h;
    cursor: pointer;
  }
}
