@import '../../variables';
@import '../../mixins';

.chart-line {
  pointer-events: none;

  .line {
    fill: none;
    stroke: $main-time-line;
    stroke-width: 2px;
  }

  .area {
    stroke: none;
    fill: $main-time-area;
    fill-opacity: .9;
  }
}
