@import '../../imports';

$shpitz-size: 7px;
$h-padding: 10px;

.time-series {
  display: inline-block;
  overflow: hidden;

  .measure-graphs {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: $h-padding;
  }

  .measure-graph {
    border-bottom: 1px solid $gray;

    .measure-label {
      position: absolute;
      left: 4px;
      top: 10px;

      /*span.measure-title,
      span.colon {
        color: $text-light;
      }*/
    }

    .hover-bubble-cont {
      position: absolute;
      top: 6px;
      width: 100px;
      margin-left: -50px;
      pointer-events: none;
      text-align: center;

      .hover-bubble {
        @extend %menu-cont;
        display: inline-block;

        .text {
          display: inline-block;
          padding: 5px;
        }
      }

      .shpitz {
        position: absolute;
        left: 50%;
        margin-left: -$shpitz-size;

        &:before,
        &:after {
          content: '';
          position: absolute;
        }

        &:before {
          @include triangle(down, $shpitz-size, $shpitz-size, hsla(0, 0, 0, 0.12));
          bottom: -1 * $shpitz-size;
          margin-top: -1 * $shpitz-size;
        }

        &:after {
          @include triangle(down, $shpitz-size, $shpitz-size, $white);
          bottom: -1 * $shpitz-size + 1;
          margin-top: -1 * $shpitz-size;
        }
      }
    }
  }

  .bottom-axis {
    padding-left: $h-padding;
  }

  .highlighter {
    position: absolute;
    top: 0;
    left: $h-padding;
    right: $h-padding;
    bottom: 0;
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
