@import '../../imports';

$h-padding: 10px;

.time-series {
  display: inline-block;
  overflow: hidden;

  .measure-graphs {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: $h-padding;
  }

  .measure-graph {
    border-bottom: 1px solid $gray;

    .measure-label {
      position: absolute;
      left: 6px;
      top: 12px;

      /*span.measure-title,
      span.colon {
        color: $text-light;
      }*/
    }
  }

  .bottom-axis {
    padding-left: $h-padding;
  }

  .highlighter {
    position: absolute;
    top: 0;
    left: $h-padding;
    right: $h-padding;
    bottom: 0;
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
