@import '../../imports';

.time-series {
  display: inline-block;
  overflow: hidden;

  .measure-time-charts {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: $vis-h-padding;
  }

  .measure-time-chart {
    .vis-measure-label {
      position: absolute;
      left: 6px;
      top: 12px;
    }

    .vis-bottom {
      pointer-events: none;
      stroke: $gray;
    }
  }

  .bottom-axis {
    padding-left: $vis-h-padding;
  }

  .highlighter {
    position: absolute;
    top: 0;
    left: $vis-h-padding;
    right: $vis-h-padding;
    bottom: 0;
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
