@import '../../imports';

.time-input {
  display: inline-block;
  border: 1px solid $gray;
  height: 26px;

  input {
    height: 100%;
    padding: 4px;
  }

  .date {
    width: 60%;
  }

  .time {
    width: 40%;
  }
}
