@import '../../imports';

$measure-width: 80px;

.measures-tile {
  @extend %module;

  .rows {
    position: absolute;
    top: $pin-title-height;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
  }

  .row {
    height: $pin-item-height;

    &:hover {
      background: $hover;
    }
  }

  .checkbox {
    margin-top: 1px;
  }

  .measure-name {
    @include unpin-right($measure-width);

    left: $tile-padding-h;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    .label {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
    }
  }

  .measure-value {
    @include pin-right($measure-width);

    text-align: right;
    padding-top: 5px;
    padding-right: $tile-padding-h;
    white-space: nowrap;
  }
}
