@import '../../variables';
@import '../../mixins';

.measures-tile {
  @extend %module;

  .rows {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 10px;
    right: 0;

    overflow: auto;
  }

  .row {
    height: 20px;

    &:hover {
      background: $detail-hover;
    }

    &.selected {
      .checkbox:after {
        position: absolute;
        content: 'v';
        top: 4px;
        left: 3px;
      }
    }
  }

  $checkbox-width: 20px;
  $measure-width: 80px;

  .measure-name {
    @include unpin-right($measure-width);

    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    .checkbox {
      display: inline-block;
      vertical-align: top;
      width: $checkbox-width;
      height: 100%;
      cursor: pointer;

      &:before {
        position: absolute;
        content: '';
        background: $gray;
        width: 14px;
        height: 14px;
        top: 4px;
        left: 0;
      }
    }

    .label {
      display: inline-block;
      vertical-align: top;
      padding-top: 4px;
    }
  }

  .measure-value {
    @include pin-right($measure-width);

    text-align: right;
    padding-top: 4px;
    padding-right: 10px;
    white-space: nowrap;
  }
}
