@import '../../imports';

.manual-fallback {
  text-align: center;
  padding: 100px 30px;

  .message {
    font-size: 20px;
    color: $text-medium;
  }

  ul {
    margin-top: 24px;
  }

  li {
    font-size: 14px;
    cursor: pointer;
    color: $brand;
    margin-bottom: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}
