@import '../../variables';
@import '../../mixins';

.application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  .container {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;

    .vis-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $action-bar-width;
      right: 0;

      .visualization {
        position: absolute;
        top: $vis-bar-height;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
