@import '../../variables';
@import '../../mixins';

.application {
  overflow: hidden;

  .header-bar {
    position: absolute;
    width: 100%;
    height: $header-height;
    z-index: 11;
  }

  .container {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;

    .filter-split-panel {
      position: absolute;
      height: 100%;
      left: 0;
      width: $action-bar-width;
      z-index: 10;
    }

    .vis-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $action-bar-width;
      right: 0;

      .vis-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $vis-bar-height;
        z-index: 8;
      }

      .visualization {
        position: absolute;
        top: $vis-bar-height;
        bottom: 0;
        width: 100%;

        .time-series-vis {
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .nested-table-vis {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      .drop-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
      }
    }
  }

  .side-drawer-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
