@import '../../imports';

.raw-data-modal {

  .content {
    @include unpin-top($modal-header-height + $control-height);
    left: $modal-window-padding;
    right: $modal-window-padding;
    overflow: hidden;

    .filters {
      @include pin-full;
      @include ellipsis;
      height: $control-height;
      color: $text-light;

      .filter {
        font-size: 13px;
        height: $control-height;
        display: inline;
      }

      .filter + .filter:before {
        content: '; ';
      }
    }

    .table-container {
      position: absolute;
      top: $control-height;
      bottom: $control-height + $modal-window-padding + $padding;
      left: 0;
      right: 0;

      .simple-table {
        bottom: 2px;

        .header-cont {
          .header {
            background: $background-lightest;
          }
        }

        .header-cell,
        .cell {
          @include ellipsis;
          display: inline-block;
          height: 100%;
          border-right: 1px solid $border-extra-light;
          padding-left: 6px;
          padding-right: 6px;

          &.number {
            text-align: right;
          }

          &.unsplitable {
            background: $background-lightest;
          }

          &:first-child {
            border-left: 1px solid $border-extra-light;
          }
        }

        .header-cell {
          padding-top: 12px;
          border-top: 1px solid $border-extra-light;

          .title-wrap {
            @include ellipsis;
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }

        .cell {
          overflow: hidden;
          padding-top: 8px;
        }
      }
    }

    .loader,
    .query-error {
      @include pin-full;
    }

    .button-bar {
      position: absolute;
      left: 0;
      right: 0;
      bottom: $modal-window-padding;

      .close {
        margin-right: 8px;
      }
    }
  }
}

