@import '../../imports';

.home-view {
  .home-header-bar {
    @include pin-top($header-height);
  }

  .container {
    @include unpin-top($header-height + 36px);
    padding: 0 12%;

    .datacubes {
      > .title {
        text-transform: uppercase;
        color: $brand;
        margin-bottom: 10px;
        font-size: 15px;
      }

      .cubes-container {
        display: flex;
        flex-wrap: wrap;

        .item-card {
          flex: 1 0;
          min-width: 310px;

          &.empty {
            height: 0;
            opacity: 0;
          }
        }
      }
    }
  }
}
