@import '../../config/constants';
@import '../../utils/mixins';

$action-size: 160px;

.drop-indicator {
  .white-out {
    @include pin-full;
    background: $white;
    opacity: .65;
  }

  .actions {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2 * $action-size + 20px;
    height: $action-size;
    margin-left: -1 * ($action-size + 10px);
    margin-top: -1 * $action-size / 2;

    .action {
      position: absolute;
      top: 0;
      width: $action-size;
      height: $action-size;
      border-radius: 10px;
      background: $white;
      border: 1px dashed $medium-text-color;

      .label {
        display: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        margin-top: 110px;
      }

      .icon {
        position: absolute;
        width: $action-size;
        height: $action-size;
        text-align: center;
        left: auto;
        right: auto;

        path {
          fill: $medium-text-color;
        }
      }

      &.replace-split .icon {
        top: 66px;
      }

      &.add-split .icon {
        top: 70px;
      }
    }

    .replace-split {
      left: 0;
    }

    .add-split {
      right: 0;
    }
  }
}
