@import '../../imports';

$action-padding: 16px;
$icon-size: 30px;

.drop-indicator {
  .white-out {
    @include pin-full;
    background: $white;
    opacity: .65;
  }

  .action {
    position: absolute;
    top: $action-padding;
    bottom: $action-padding;
    left: $action-padding;
    right: $action-padding;
    border-radius: $corner * 3;
    border: 1px dashed $border-darker;

    svg {
      position: absolute;
      width: $icon-size;
      top: 50%;
      left: 50%;
      margin-left: -$icon-size / 2;
      margin-top: -$icon-size / 2;
    }

    path {
      fill: $border-darker;
    }
  }
}
