@import '../../imports';

.tile-header {
  .title {
    padding: 15px $padding-compact 10px $padding-compact;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-standard;
  }

  .icons {
    position: absolute;
    top: 1px;
    right: 10px;

    .icon {
      display: inline-block;
      padding: 10px 0;
      cursor: pointer;
      width: 19px;
      margin-left: 3px;

      svg path {
        fill: #bbb;
      }

      &:hover,
      &.active {
        svg path {
          fill: #888;
        }
      }
    }
  }
}
