@import '../../imports';

.modal {
  @include pin-full;

  .backdrop {
    @include pin-full;
    background: $black;
    opacity: 0.2;
  }

  .modal-window {
    @extend %modal-cont;
    width: 420px;
    padding: 18px;
    margin: auto;
    background: $white;

    .modal-title {
      line-height: 30px;
      font-size: 17px;
      margin-bottom: 16px;

      .close {
        top: 0;
        right: 0;
        position: absolute;
        padding: 5px;
        cursor: pointer;
      }

      &:hover {
        svg path {
          fill: #888;
        }
      }

      svg {
        width: 19px;

        path {
          fill: #bbb;
        }
      }
    }
  }
}
