@import '../../imports';

$shpitz-size: 12px;
$shpitz-clip-size: 60px;

.bubble-menu {
  @extend %menu-cont;
  position: absolute;
  padding: $padding-compact;

  &.mini {
    padding: $padding-mini;
  }

  .shpitz {
    position: absolute;
    width: $shpitz-clip-size;
    height: $shpitz-clip-size;
    overflow: hidden;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      width: $shpitz-size;
      height: $shpitz-size;
      transform: rotate(45deg);
      background: $white;
      box-shadow: 0 0 4px 0 rgba($black, 0.35);
    }
  }

  &.up .shpitz {
    margin-bottom: $shpitz-clip-size * -1;
    margin-left: $shpitz-clip-size * -0.5;

    &:after {
      top: 0;
      left: 50%;
      margin-left: $shpitz-size * -0.5;
      margin-top: $shpitz-size * -0.5;
    }
  }

  &.down .shpitz {
    margin-top: $shpitz-clip-size * -1;
    margin-left: $shpitz-clip-size * -0.5;

    &:after {
      bottom: 0;
      left: 50%;
      margin-left: $shpitz-size * -0.5;
      margin-bottom: $shpitz-size * -0.5;
    }
  }

  &.left .shpitz {
    margin-right: $shpitz-clip-size * -1;
    margin-top: $shpitz-clip-size * -0.5;

    &:after {
      left: 0;
      top: 50%;
      margin-top: $shpitz-size * -0.5;
      margin-left: $shpitz-size * -0.5;
    }
  }

  &.right .shpitz {
    margin-left: $shpitz-clip-size * -1;
    margin-top: $shpitz-clip-size * -0.5;

    &:after {
      right: 0;
      top: 50%;
      margin-top: $shpitz-size * -0.5;
      margin-right: $shpitz-size * -0.5;
    }
  }

  .menu-header {
    @include pin-top($menu-title-bar-height);
  }

  ul.bubble-list {
    margin-left: -$padding-compact;
    margin-right: -$padding-compact;

    li {
      padding: 0 $padding-compact;
      line-height: 25px;
      cursor: pointer;

      &:hover {
        background: rgba($brand, 0.12);
      }
    }
  }
}
