@import '../../imports';

$checkbox-width: 20px;
$measure-width: 80px;

.dimension-tile {
  @extend %module;
  user-select: none;
  min-height: 94px;

  .tile-header {
    height: $pin-title-height;
  }

  .search-box {
    position: absolute;
    top: $pin-title-height;
    left: 0;
    right: 0;
    height: $search-box-height;
    padding: 0 $tile-padding-h;

    input {
      border: 1px solid $border-light;
      width: 100%;
      height: 23px;
    }
  }

  .rows {
    position: absolute;
    top: $pin-title-height;
    bottom: 12px;
    left: 0;
    right: 0;

    overflow: auto;
  }

  &.with-search .rows {
    top: $pin-title-height + $search-box-height;
  }

  .row {
    height: $pin-item-height;
    cursor: pointer;

    &:hover {
      background: $hover;
    }

    &.selected {
      &:after {
        @include pin-full;
        border: 1px dashed $highlight-border;
        content: '';
      }
    }

    &.not-selected {
      &:after {
        @include pin-full;
        background: $white;
        opacity: 0.5;
        content: '';
      }
    }

    .highlight-controls {
      position: absolute;
      top: -29px;
      right: 1px;
      z-index: 4;
    }

    &:nth-child(1),
    &:nth-child(2) {
      .highlight-controls {
        top: auto;
        bottom: -34px;
      }
    }
  }

  .segment-value {
    @include unpin-right($measure-width);

    left: $tile-padding-h;
    overflow: hidden;
    white-space: nowrap;

    .checkbox {

    }

    .label {
      display: inline-block;
      vertical-align: top;
      padding-top: 5px;
    }
  }

  .measure-value {
    @include pin-right($measure-width);

    text-align: right;
    padding-top: 5px;
    padding-right: $tile-padding-h;
    white-space: nowrap;
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
