@import '../../imports';

$button-width: 26px;
$button-frame-gap: 7px;

.highlighter {
  .frame {
    position: absolute;
    height: 100%;
    border: 1px dashed $brand;
    border-radius: 2px;
    z-index: 1; // Put this above the whiteout

    .button-bar {
      position: absolute;
      width: $button-width;
      right: -($button-width + $button-frame-gap);

      .button {
        height: $button-width;
        background: $brand;
        margin-bottom: 5px;
        padding: 7px 6px;
        cursor: pointer;

        svg {
          height: 13px;
        }

        path {
          fill: $white;
        }
      }
    }
  }

  .whiteout {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: $white;
    opacity: 0.5;
  }
}
