@import '../../imports';

.highlight-controls {
  .button {
    display: inline-block;
    width: $highlight-button-size;
    height: $highlight-button-size;
    background: $brand;
    margin-bottom: $highlight-button-spacing;
    margin-right: $highlight-button-spacing;
    padding: 7px 6px;
    cursor: pointer;

    svg {
      height: 13px;
    }

    path {
      fill: $white;
    }
  }
}
