@import '../../../imports';

.data-cube-edit {
  $tabs-column-width: 190px;
  height: 100%;

  .content {
    padding: 0;

    .tabs {
      position: absolute;
      top: 0;
      bottom: 0;
      width: $tabs-column-width;

      border-right: 1px solid $border-super-light;

      padding: 10px 5px;

      button,
      .button {
        @extend %button-light;

        display: block;
        width: 100%;
        padding: 10px 15px;
        text-align: left;
      }
    }

    .tab-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $tabs-column-width;
      right: 0;

      form {
        width: 448px;
        padding: 24px 24px;
      }


    }
  }

}
