@import '../../variables';
@import '../../mixins';

.pinboard-panel {
  background: $beta-background;
  border-left: 1px solid $beta-border-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .measures-tile,
  .dimension-tile,
  .placeholder-tile {
    flex-grow: 1;
    width: $pinboard-width - 20px;
    min-height: 150px;
    margin: 10px;
  }

  .placeholder-tile {
    border: 2px dashed $gray;
    border-radius: 5px;
  }
}
