@import '../../imports';

.pinboard-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $tile-margin-v $tile-margin-h 0 $tile-margin-h;

  .dimension-tile,
  .placeholder-tile {
    flex-grow: 1;
    width: $pinboard-width - 2 * $tile-margin-h;
    margin-bottom: $tile-margin-v;
  }

  .placeholder-tile {
    border: 2px dashed $gray;
    border-radius: 5px;
  }
}
