@import '../../config/constants';
@import '../../utils/mixins';

.pinboard-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $tile-padding-v $tile-padding-h 0 $tile-padding-h;

  .measures-tile,
  .dimension-tile,
  .placeholder-tile {
    flex-grow: 1;
    width: $pinboard-width - 2*$tile-padding-h;
    min-height: 150px;
    margin-bottom: $tile-padding-v;
  }

  .placeholder-tile {
    border: 2px dashed $gray;
    border-radius: 5px;
  }
}
