@import '../../imports';

$border-radius: 3px;

.split-menu {
  text-align: center;

  .menu-cont {
    top: 10px;
  }

  .button-group {

    li {
      display: inline-block;
      cursor: pointer;
      width: 45px;
      text-align: center;
      padding: 6px 2px;
      border: 1px solid $border-light;
      border-right: 0;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-right: 1px solid $border-light;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:hover {
        background: $background-lighter;
      }
    }
  }
}
