@import '../../imports';

$border-radius: 3px;

.split-menu {
  padding: 18px 10px 10px 10px;

  .button-group {
    .button-group-title {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
    }

    li {
      display: inline-block;
      cursor: pointer;
      width: 45px;
      text-align: center;
      padding: 6px 2px;
      border: 1px solid $border-light;
      border-right: 0;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-right: 1px solid $border-light;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.selected {
        background: $background-light;
      }

      &:hover {
        background: $background-lighter;
      }
    }
  }

  .dropdown {
    margin-bottom: 12px;
    pointer-events: none;

    .dropdown-label {
      text-transform: uppercase;
      font-size: 12px;
      color: $text-light;
      margin-bottom: 5px;
    }

    .selected-item {
      display: block;
      padding: 7px 6px;
      border: 1px solid $border-light;
      border-radius: $corner;
      box-shadow: 0 1px 1px 0 hsla(0, 0, 0, 0.12);
      pointer-events: auto;

      &:hover {
        border-color: $border-medium;
      }
    }

    .caret-icon {
      position: absolute;
      right: 9px;
      bottom: 9px;
    }

    .dropdown-menu {
      width: 100%;
      pointer-events: auto;
    }
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;

    .ok {
      @extend %button-primary;
      min-width: 60px;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
