@import '../../imports';

$border-radius: 3px;

.split-menu {
  padding: 10px;

  .button-group {
    .button-group-title {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
    }

    li {
      display: inline-block;
      cursor: pointer;
      width: 45px;
      text-align: center;
      padding: 6px 2px;
      border: 1px solid $border-light;
      border-right: 0;

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-right: 1px solid $border-light;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &.selected {
        background: $background-light;
      }

      &:hover {
        background: $background-lighter;
      }
    }
  }

  .dropdown {
    .dropdown-label {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .selected-item {
      display: block;
      padding: 6px 2px;
      border: 1px solid $border-light;
    }

    .caret-icon {
      position: absolute;
      right: 6px;
      bottom: 7px;
    }

    .dropdown-menu {
      margin-top: -1px;
      width: 100%;
    }
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;

    .ok {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
