@import '../../imports';

$h-padding: 10px;

.time-series-vis {
  display: inline-block;
  overflow-y: auto;
  padding-left: $h-padding;

  .measure-graphs {
    overflow: auto;

    .measure-graph {
      border-bottom: 1px solid $gray;
    }
  }

  .highlighter {
    position: absolute;
    top: 0;
    left: $h-padding;
    right: $h-padding;
    bottom: 0;
  }
}
