@import '../../imports';

.immutable-list {
  $list-title-height: 44px;

  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 24px;
  right: 0;

  .list-title {
    display: flex;
    height: $list-title-height;
    padding-top: 12px;
    width: 400px;
    border-bottom: 1px solid $border-super-light;

    .label {
      flex: 1 1;
      padding: 6px 0;

      color: $text-lighter;
      font-size: 12px;
      text-transform: uppercase;
    }

    .actions {
      button {
        @extend %button-light;
        font-size: 12px;
        text-transform: uppercase;
        color: $brand;
        padding: 6px;
        border-radius: 2px;

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  .simple-list {
    position: absolute;
    top: $list-title-height;
    bottom: 0;
    left: 0;
    right: 0;

    .row {
      width: 400px;
    }
  }
}

.name-modal {
  form {
    width: 100%;

    > * {
      display: block;
    }

    input {
      @extend %default-input;
      margin-bottom: 25px;
    }
  }

  .button-group {
    margin-top: 30px;

    > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}
