@import '../../imports';

.nav-logo {
  padding-left: $nav-padding;
  padding-right: $nav-padding;

  .logo {
    height: 60px;
    overflow: hidden;

    svg {
      width: 86px;
      height: 60px;
    }
  }
}
