@import '../../imports';

.scroller {
  width: 100%;
  height: 100%;
  overflow: auto;

  .scroller-inner {
    background: $white;
    opacity: 0.001; // must be > 0 for it to get mouse events
    cursor: pointer;
  }
}
