@import '../../variables';
@import '../../mixins';

.application {
  overflow: hidden;

  .header-bar {
    @include pin-top($header-height);
    z-index: 11;
  }

  .container {
    @include unpin-top($header-height);

    .filter-split-panel {
      @include pin-left($left-panel-width);
      z-index: 10;
    }

    .vis-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      left: $left-panel-width;
      right: $pinboard-width;

      .vis-bar {
        @include pin-top($vis-bar-height);
        z-index: 8;

        overflow: hidden;
      }

      .visualization {
        @include unpin-top($vis-bar-height);

        .time-series-vis,
        .nested-table-vis {
          @include pin-full;
        }
      }

      .drop-indicator {
        @include pin-full;
        z-index: 9;
      }
    }

    .pinboard-panel {
      @include pin-right($pinboard-width);
    }
  }

  .side-drawer-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
