@import '../../imports';

.pinboard-panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $tile-margin-v $tile-margin-h 0 $tile-margin-h;

  .dimension-tile,
  .drop-indicator-tile {
    flex-grow: 1;
    margin-bottom: 1px;
  }

  .dimension-tile.has-colors {
    margin-bottom: 5px;
  }

  .drop-indicator-tile {
    pointer-events: none;

    &:after {
      @include unpin-full(4px, 0, 4px, 0);
      content: '';
      border: 1px dashed $border-darker;
      border-radius: $corner;
    }
  }

  .placeholder {
    @extend %module;
    border-radius: 0 0 2px 2px;
    max-height: 280px;
    min-height: 150px;
    flex: 1;
    pointer-events: none;

    &:after {
      @include unpin-full(10px);
      content: '';
      border: 1px dashed $border-medium;
      border-radius: 5px;
    }

    svg {
      position: absolute;
      width: 40px;
      left: 50%;
      top: 50%;
      margin-left: -20px;
      margin-top: -63px;

      path {
        fill: darken($background-base, 5%);
      }
    }

    .placeholder-message {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 16px;
      margin-top: -15px;
      padding-left: 30px;
      padding-right: 30px;
      font-style: italic;
      line-height: 20px;
      color: $text-lighterish;
      text-align: center;
    }
  }

  .drag-mask {
    @include pin-full;
  }
}
