@import '../../imports';

$presets-width: 140px;
$action-bar-height: 52px;

.filter-menu {
  .menu-cont {
    position: absolute;
    width: 100%;
    top: 10px;
    bottom: $action-bar-height;

    &.time-filter {
      ul {
        width: $presets-width;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;

        li {
          height: 22px;
          line-height: 22px;
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;

          &.selected {
            background: $hover;
          }

          &:hover {
            background: $hover;
          }
        }
      }

      .time-inputs {
        position: absolute;
        left: $presets-width;
        top: 4px;

        .time-input {
          @extend %input-cont-inset;
          width: 135px;
          height: 32px;

          input {
            background: none;
            padding-left: 4px;
          }
        }

        .arrow {
          width: 12px;
          display: inline-block;
          margin: 0 9px;
          padding-top: 10px;
        }
      }

      .menu-time-series {
        position: absolute;
        left: $presets-width;
        top: 40px;
      }
    }

    .menu-table {
      @include pin-full;
    }
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;

    .filter {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
