@import '../../imports';

.filter-tile {
  @extend %module;
  @extend %module-h-title;

  .items {
    @include unpin-left($title-width);
    transition: height 0.1s ease-in-out;
    overflow: hidden;

    .filter {
      @extend %dimension-item;
      position: absolute;
      left: 0; // It gets horizontal position from the JS

      &.from-highlight {
        border: 1px dashed $brand;
      }
    }
  }

  .fancy-drag-indicator {
    @include unpin-left($title-width);
  }
}
