* {
  box-sizing: border-box;
  vertical-align: top;
}

body * {
  position: relative;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: inherit;
}

div, span {
  cursor: inherit;
}

button, input {
  border: 0;
  margin: 0;
}

text {
  cursor: default;
}

path {
  fill-rule: evenodd;
}
