@import '../../../node_modules/laborer/common/style/tech-mixins';
@import '../config/constants';
@import 'variables';

%bubble-cont {
  @extend %menu-cont;
  z-index: 31;

  .shpitz {
    $shpitz-size: 12px;
    $clip-size: 60px;
    position: absolute;
    width: $clip-size;
    height: $clip-size;
    overflow: hidden;
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      width: $shpitz-size;
      height: $shpitz-size;
      transform: rotate(45deg);
      background: $white;
      box-shadow: 0 0 4px 0 rgba($black, 0.35);
    }

    &.top {
      top: $clip-size * -1;
      left: 50%;
      margin-left: $clip-size * -0.5;

      &:after {
        bottom: 0;
        left: 50%;
        margin-left: $shpitz-size * -0.5;
        margin-bottom: $shpitz-size * -0.5;
      }
    }

    &.bottom {
      bottom: $clip-size * -1;
      left: 50%;
      margin-left: $clip-size * -0.5;

      &:after {
        top: 0;
        left: 50%;
        margin-left: $shpitz-size * -0.5;
        margin-top: $shpitz-size * -0.5;
      }
    }

    &.left {
      left: $clip-size * -1;
      top: 50%;
      margin-top: $clip-size * -0.5;

      &:after {
        right: 0;
        top: 50%;
        margin-top: $shpitz-size * -0.5;
        margin-right: $shpitz-size * -0.5;
      }
    }

    &.right {
      right: $clip-size * -1;
      top: 50%;
      margin-top: $clip-size * -0.5;

      &:after {
        left: 0;
        top: 50%;
        margin-top: $shpitz-size * -0.5;
        margin-left: $shpitz-size * -0.5;
      }
    }
  }
}

%header-bar {
  background: $brand;
  color: $white;
  font-size: 16px;

  .burger-bar {
    display: inline-block;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;

    .menu-icon {
      display: inline-block;
      padding: 11px 5px;
    }

    .title {
      display: inline-block;
      font-size: 15px;
      margin-top: 13px;
      padding: 0 4px;
    }
  }

  .right-bar {
    position: absolute;
    top: 0;
    right: 12px;

    .last-updated {
      display: inline-block;
      vertical-align: top;
      height: 100%;
      padding: 14px 8px;
      font-size: 13px;
      cursor: default;
    }

    .icon-button {
      display: inline-block;
      padding: 11px 5px;
      cursor: pointer;

      &:after {
        @extend %menu-cont;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        display: block;
        bottom: -24px;
        right: 0;
        padding: 5px;
        color: $text-standard;
        font-size: 12px;
        white-space: nowrap;
      }

    }
  }

  svg {
    height: 19px;
    width: 19px;
  }
}

// Buttons

%button-base {
  display: inline-block;
  padding: 6px 16px;
  font-size: 13px;
  min-width: 46px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  outline: none;

  //transition-property: all;
  //transition-duration: $duration;

  &.active,
  &:active {
    //transition-duration: 0s;
  }

  &.disabled,
  &[disabled] {
    opacity: .40;
    cursor: default;
    pointer-events: none;
  }
}

%button-primary {
  @extend %button-base;
  background: $brand;
  color: $white;

  &:hover {
    background: darken($brand, 5%);
  }

  &.active,
  &:active {
    background: darken($brand, 10%);
    color: darken($white, 12%);
  }
}

%button-secondary {
  @extend %button-base;
  background: $background-medium;
  color: $text-medium;

  &:hover {
    background: darken($background-medium, 4%);
    color: darken($text-medium, 12%);
  }

  &.active,
  &:active {
    background: darken($background-medium, 10%);
    color: darken($text-medium, 12%);
  }
}

%module {
  background: $white;
  box-shadow: 0 1px 1px 0 rgba($black, 0.1);
}

%module-title {
  .title {
    padding: 15px 0 0 $tile-padding-h;
    height: $title-height;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-standard;
  }
}

%module-h-title {
  .title {
    @include pin-left($bar-title-width);
    padding: 13px 0 0 $tile-padding-h;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-light;
  }
}

%menu-cont {
  background: $white;
  border-radius: $corner;
  box-shadow: 0 3px 10px 0 hsla(0, 0, 0, 0.26), 0 0 3px 0 hsla(0, 0, 0, 0.16);
}

%input-cont {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $corner;
  cursor: pointer;
  box-shadow: 0 1px 1px 0 hsla(0, 0, 0, 0.1);

  &:hover {
    border-color: $border-medium;
  }
}

%input-selected {
  box-shadow: inset 0 1px 1px 0 hsla(0, 0, 0, 0.1);
  background: $background-light;
}

%input-cont-inset {
  background: $white;
  border: 1px solid $border-light;
  border-radius: $corner;
  box-shadow: inset 0 1px 1px 0 hsla(0, 0, 0, 0.1);
}

%input-top-label {
  text-transform: uppercase;
  font-size: 11px;
  color: $text-light;
}

%dimension-item {
  padding: 0 0 0 9px;
  background: $item-categorical;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
  width: $item-width;

  .reading {
    @include ellipsis;
    white-space: nowrap;
    margin-right: 20px;
    height: 16px;
    margin-top: 7px;
  }

  .remove {
    @include pin-right(27px);
    text-align: center;
    padding-top: 9px;
    cursor: pointer;

    svg {
      width: 10px;
    }

    path {
      fill: hsla(0, 0, 0, 0.2);
    }

    &:hover path {
      fill: hsla(0, 0, 0, 0.5);
    }
  }

  &:hover,
  &.selected {
    background-color: darken($item-categorical, 6%);
  }

  &.type-time {
    background: $item-continuous;

    &:hover,
    &.selected {
      background-color: darken($item-continuous, 6%);
    }
  }
}

%dimension-item-h {
  top: $control-padding-v;
  bottom: $control-padding-v;
}

%white-shadow {
  &:after {
    @include pin-full;
    content: '';
    pointer-events: none;
    box-shadow: inset 0 -20px 10px -10px $white;
    border-radius: $corner;
  }
}
