@import 'variables';
@import '../config/constants';
@import 'tech-mixins';

// Buttons

%button-base {
  display: inline-block;
  padding: 6px 16px;
  font-size: 13px;
  min-width: 46px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  outline: none;

  transition-property: all;
  transition-duration: $duration;

  &.active,
  &:active {
    transition-duration: 0s;
  }

  &.disabled,
  &[disabled] {
    opacity: .30;
    cursor: default;
    pointer-events: none;
  }
}

%button-primary {
  @extend %button-base;
  background: $brand;
  color: $white;

  // &:hover { ... }

  &.active,
  &:active {
    background: darken($brand, 8%);
    color: darken($white, 18%);
  }
}

%button-secondary {
  @extend %button-base;
  background: $background-medium;
  color: $text-medium;

  // &:hover { ... }

  &.active,
  &:active {
    background: shade($background-medium, 8%);
    color: shade($text-medium, 32%);
  }
}

%module {
  background: $white;
}

%module-title {
  .title {
    padding: 13px 0 0 $tile-padding-h;
    height: $title-height;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-light;
  }
}

%module-h-title {
  .title {
    @include pin-left($title-width);
    padding: 13px 0 0 $tile-padding-h;
    font-size: 12px;
    text-transform: uppercase;
    color: $text-light;
  }
}

%menu-cont {
  background: $white;
  border-radius: $corner;
  box-shadow: 0 3px 10px 0 hsla(0, 0, 0, 0.26), 0 0 3px 0 hsla(0, 0, 0, 0.16);
}

%dimension-item {
  padding: 0 0 0 10px;
  background: hsl(201, 92%, 85%);
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.1s ease-in-out;
  top: $control-padding-v;
  bottom: $control-padding-v;
  width: $item-width;

  .reading {
    white-space: nowrap;
    margin-right: 20px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    height: 16px;
    margin-top: 8px;
  }

  .remove {
    @include pin-right(27px);
    text-align: center;
    padding-top: 10px;
    cursor: pointer;

    svg {
      width: 10px;
    }

    path {
      fill: hsla(0, 0, 0, 0.2);
    }

    &:hover path {
      fill: hsla(0, 0, 0, 0.5);
    }
  }

  &:hover,
  &.selected {
    background-color: hsl(201, 92%, 79%);
  }

  &.type-time {
    background: hsl(122, 49%, 84%);

    &:hover,
    &.selected {
      background-color: hsl(122, 49%, 79%);
    }
  }
}
