.dnd-poly-drag-image {
    opacity: .5 !important;
}

.dnd-poly-drag-image.dnd-poly-snapback {
    -webkit-transition: -webkit-transform 250ms ease-out !important;
    -moz-transition: -moz-transform 250ms ease-out !important;
    -o-transition: -o-transform 250ms ease-out !important;
    transition: transform 250ms ease-out !important;
}

/* debug classes */

.dnd-poly-debug {
    -webkit-transition-duration: 250ms, 250ms;
    -webkit-transition-property: outline, outline-offset;

    -moz-transition-duration: 250ms, 250ms;
    -moz-transition-property: outline, outline-offset;

    -o-transition-duration: 250ms, 250ms;
    -o-transition-property: outline, outline-offset;

    transition-duration: 250ms, 250ms;
    transition-property: outline, outline-offset;

    outline: 1px solid transparent;
    outline-offset: 10px;
}

.dnd-poly-immediate-user-selection {
    background-color: steelblue !important;
}

.dnd-poly-current-drop-target {
    background-color: lime  !important;
}

.dnd-poly-event-target {
    -webkit-transition-duration: 0ms, 0ms;
    -moz-transition-duration: 0ms, 0ms;
    -o-transition-duration: 0ms, 0ms;
    transition-duration: 0ms, 0ms;
    outline: 1px solid red  !important;
    outline-offset: 0;
}

.dnd-poly-event-related-target {
    -webkit-transition-duration: 0ms, 0ms;
    -moz-transition-duration: 0ms, 0ms;
    -o-transition-duration: 0ms, 0ms;
    transition-duration: 0ms, 0ms;
    outline: 1px solid lime !important;
    outline-offset: 0;
}

