@import '../../imports';

.cube-header-bar {
  @extend %header-bar;
  &.panic:after { content: 'Reset (in case of bug)'; }
  &.help:after { content: 'Google Groups'; }
  &.github:after { content: 'Project GitHub'; }

  &:hover {
    svg {
      opacity: 0.85;
    }

    &:after {
      opacity: 1;
    }
  }

}
