@import '../../imports';

.segment-bubble {
  @extend %menu-cont;
  position: absolute;
  background: rgba($white, 0.9);
  padding: 10px;
  text-align: center;
  transform: translate(-50%, -100%);
  max-width: 400px;

  .text {
    .segment {
      color: $text-lighterish;
      display: block;
      padding-bottom: 3px;
      overflow: hidden;
    }

    .measure-value {
      white-space: nowrap;
    }
  }

  .buttons {
    white-space: nowrap;

    &:nth-child(n+2) {
      margin-top: 7px;
    }

    .button {
      margin-right: 5px;
    }

    .button:last-child {
      margin-right: 0;
    }
  }

  .shpitz {
    left: 50%;
    top: 100%;
  }
}
