@import '../../imports';

$shpitz-size: 7px;

.segment-bubble {
  @extend %menu-cont;
  position: absolute;
  background: rgba($white, 0.9);
  padding: 10px;
  text-align: center;
  transform: translate(-50%, -100%);
  max-width: 400px;

  .text {
    .segment {
      color: $text-lighterish;
      display: block;
      padding-bottom: 3px;
      overflow: hidden;
    }

    .measure-value {
      white-space: nowrap;
    }
  }

  .buttons {
    white-space: nowrap;

    &:nth-child(n+2) {
      margin-top: 7px;
    }

    .button {
      margin-right: 5px;
    }

    .button:last-child {
      margin-right: 0;
    }
  }

  .shpitz {
    position: absolute;
    left: 50%;
    margin-left: -$shpitz-size;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      @include triangle(down, $shpitz-size, $shpitz-size, hsla(0, 0, 0, 0.15));
      bottom: -1 * $shpitz-size - 8;
    }

    &:after {
      @include triangle(down, $shpitz-size, $shpitz-size, $white);
      bottom: -1 * $shpitz-size + 1 - 8;
    }
  }
}
