@import '../../variables';

.menu-table {
  background: $detail-background;
  color: $detail-text-color;

  .search {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 0 10px;

    input {
      border: 1px solid $detail-border-color;
      width: 100%;
      height: 23px;
    }
  }

  .rows {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 10px;
    right: 0;

    overflow: auto;
  }

  .row {
    height: 20px;

    &:hover {
      background: $detail-hover;
    }

    &.selected {
      .checkbox:before {
        content: 'v';
      }
    }
  }

  $checkbox-width: 15px;
  $measure-width: 80px;

  .checkbox {
    position: absolute;
    left: 0;
    top: 0;
    width: $checkbox-width;
    height: 100%;

    cursor: pointer;

    &:before {
      position: absolute;
      content: '';
      background: $gray;
      width: 14px;
      height: 14px;
      top: 4px;
      left: 0;
    }
  }

  .segment-value {
    position: absolute;
    left: $checkbox-width;
    right: $measure-width;
    top: 0;
    height: 100%;

    cursor: pointer;
    overflow: hidden;
    padding-top: 4px;
    padding-left: 4px;
    white-space: nowrap;
  }

  .measure-value {
    position: absolute;
    right: 0;
    top: 0;
    width: $measure-width;
    height: 100%;

    text-align: right;
    padding-top: 4px;
    padding-right: 10px;
    white-space: nowrap;
  }
}
