@import '../../imports';

$checkbox-size: 16px;

.checkbox {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 100%;
  cursor: pointer;
  margin-right: 3px;

  &:before {
    position: absolute;
    left: 0;
    top: 2px;
    content: '';
    background: hsla(0, 0, 0, 0.12);
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: 1px;
  }

  &.checked:before {
    background: hsla(0, 0, 0, 0.45);
  }

  svg {
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;

    path {
      fill: $white;
    }
  }
}
