@import '../../imports';

$loader-size: 30px;

.loader {
  svg {
    position: absolute;
    height: $loader-size;
    top: 50%;
    left: 50%;
    margin-top: -$loader-size / 2;
    margin-left: -$loader-size / 2;
    fill: $brand;

    circle {
      animation-name: loader-circle;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;

      &:nth-child(1) { animation-delay: 0s; }
      &:nth-child(2) { animation-delay: 100ms; }
      &:nth-child(3) { animation-delay: 300ms; }
      &:nth-child(4) { animation-delay: 600ms; }
      &:nth-child(5) { animation-delay: 800ms; }
      &:nth-child(6) { animation-delay: 400ms; }
      &:nth-child(7) { animation-delay: 700ms; }
      &:nth-child(8) { animation-delay: 500ms; }
      &:nth-child(9) { animation-delay: 200ms; }
    }
  }
}

@keyframes loader-circle {
  0% { fill-opacity: 1; }
  100% { fill-opacity: 0.2; }
}
