@import '../../imports';

.time-filter-menu {
  .tabs {
    @include pin-top(30px);

    .tab {
      display: inline-block;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      cursor: pointer;
      padding: 12px 0 7px 0;
      text-transform: uppercase;
      font-size: 12px;
      color: $text-light;

      &:hover {
        border-bottom: 2px solid $border-extra-light;
      }

      &.selected {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .cont {
    @include unpin-top(38px);
    padding: 0 10px;
    margin-top: 14px;

    .type {
      @extend %input-top-label;
      margin-bottom: 6px;
    }

    .buttons {
      margin-bottom: 16px;

      button {
        @extend %input-cont;
        width: 18%;
        height: 27px;
        margin-right: 2%;
        color: $text-light;
        //border-color: $border-extra-light;
        box-shadow: 0 1px 1px 0 hsla(0, 0, 0, 0.2);

        &.selected {
          background: $brand;
          border: 0;
          color: $white;
        }
      }
    }

    .preview {
      margin-top: 22px;
      padding-left: 4px;
      padding-top: 10px;
      border-top: 1px solid $border-extra-light;
      color: $text-light;
    }

    .time-input {
      width: 100%;
      height: 27px;
      border: 0;
      margin-bottom: 12px;

      input {
        @extend %input-cont-inset;
        padding-left: 6px;

        &.date {
          width: 70%;
          margin-right: 2%;
        }

        &.time {
          width: 28%;
        }
      }
    }
  }

  .button-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 10px 10px;

    .ok {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
