@import '../../imports';

.time-filter-menu {
  .tabs {
    height: 30px;

    .tab {
      display: inline-block;
      width: 40%;
      margin-left: 5%;
      margin-right: 5%;
      text-align: center;
      cursor: pointer;
      padding: 7px 0 7px 0;
      text-transform: uppercase;
      font-size: 12px;
      color: $text-light;

      &:hover {
        border-bottom: 2px solid $border-extra-light;
      }

      &.selected {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .cont {
    margin-top: 18px;

    .type {
      @extend %input-top-label;
    }

    .buttons {
      margin-bottom: $form-spacing-compact;

      button {
        @extend %button-secondary;
        min-width: 0;
        padding: 0;
        width: 17.5%;
        margin-right: 3%;

        &.selected {
          @extend %button-primary;
          min-width: 0;
          padding: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .preview {
      @extend %indicator-field;
    }

    .time-input {
      width: 100%;
      height: $input-height;
      border: 0;
      margin-bottom: $form-spacing-compact;

      input {
        @extend %input-cont-inset;
        padding-left: 6px;

        &.date {
          width: 70%;
          margin-right: 2%;
        }

        &.time {
          width: 28%;
        }
      }
    }
  }

  .button-bar {
    .ok {
      @extend %button-primary;
      margin-right: 8px;
    }

    .cancel {
      @extend %button-secondary;
    }
  }
}
