@import '../../imports';

.measures-tile {
  @extend %module;
  @extend %module-title;
  @extend %white-shadow;
  min-height: 280px;

  .rows {
    position: absolute;
    top: $pin-title-height;
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
  }

  .row {
    padding-left: $tile-padding-h;
    height: $pin-item-height;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 12px;
    }

    .label {
      @include ellipsis;
      position: absolute;
      top: 5px;
      bottom: 0;
      left: 35px;
      right: 10px;
    }

    &:hover {
      background: $hover;
    }
  }

  .checkbox {
    margin-top: 1px;
  }
}
