@import '../../imports';

.pivot-application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $background-base;

  .not-implemented {  display: none;  }

  .home-view, .cube-view {
    @include pin-full;
  }

  .side-drawer-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 80;
  }
}
