@import '../../imports';

.pivot-application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $background-base;

  .header-bar {
    @include pin-top($header-height);
    z-index: 11;
  }

  .side-drawer-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
  }
}
