@import '../../imports';

.totals {
  text-align: center;
  padding: 50px;

  .total {
    display: inline-block;
    border: 1px solid $border-extra-light;
    width: 180px;
    height: 90px;
    text-align: center;
    padding: 5px;
    margin-right: -1px;
    margin-bottom: -1px;

    .measure-name {
      margin-top: 15px;
      padding-left: 3px;
      padding-right: 3px;
      font-size: 15px;
      height: 20px;
      color: $text-medium;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    .measure-value {
      margin-top: 5px;
      font-size: 20px;
    }
  }

  .loader,
  .query-error {
    @include pin-full;
  }
}
