@import 'variables';

// for the shpitz
@mixin triangle($direction, $base, $altitude, $color) {
  @if $direction == up {
    width: 0;
    height: 0;
    border-top: 0;
    border-bottom: $base solid $color;
    border-left: $altitude solid transparent;
    border-right: $altitude solid transparent;
  }

  @if $direction == down {
    width: 0;
    height: 0;
    border-top: $altitude solid $color;
    border-bottom: 0;
    border-left: $base solid transparent;
    border-right: $base solid transparent;
  }

  @if $direction == left {
    width: 0;
    height: 0;
    border-top: $base solid transparent;
    border-bottom: $base solid transparent;
    border-left: 0;
    border-right: $altitude solid $color;
  }

  @if $direction == right {
    width: 0;
    height: 0;
    border-top: $base solid transparent;
    border-bottom: $base solid transparent;
    border-left: $altitude solid $color;
    border-right: 0;
  }
}

// Buttons

%button-base {
  display: inline-block;
  padding: 3px 16px;
  font-size: 14px;
  min-width: 46px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  outline: none;

  transition-property: all;
  transition-duration: $duration;

  &.active,
  &:active {
    transition-duration: 0s;
  }

  &.disabled,
  &[disabled] {
    opacity: .30;
    cursor: default;
    pointer-events: none;
  }
}

%button-primary {
  @extend %button-base;
  background: $button-primary-background;
  color: $button-primary-text-color;

  // &:hover { ... }

  &.active,
  &:active {
    background: shade($button-primary-background, 8%);
    color: darken($button-primary-text-color, 18%);
  }
}

%button-secondary {
  @extend %button-base;
  background: $button-secondary-background;
  color: $button-secondary-text-color;

  // &:hover { ... }

  &.active,
  &:active {
    background: shade($button-secondary-background, 8%);
    color: shade($button-secondary-text-color, 32%);
  }
}
