@import '../../imports';

.dimension-measure-panel {
  @include for-small-screens {
    padding: 0 1px 0 0;
    font-size: 0.9em;
  }

  padding: $tile-margin-v $tile-margin-h;

  display: flex;
  flex-direction: column;

  .dimension-list-tile {
    margin-bottom: 1px;
    border-radius: $corner $corner 0 0;
  }

  .measures-tile {
    border-radius: 0 0 $corner $corner;
  }
}
