@import '../../node_modules/laborer/common/style/reset';
@import '../../node_modules/laborer/common/style/sanity';
@import '../../node_modules/laborer/common/style/open-sans-regular';
@import '../../node_modules/laborer/common/style/open-sans-600';
@import 'imports';

html,
body {
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #444;
  overflow: hidden;
}

svg {
  width: auto;
  height: auto;
}

.app-container {
  @include pin-full;

  * {
    user-select: none;
  }

  // Pin my loader
  & > .loader {
    @include pin-full;
  }
}

.drag-ghost {
  // Do not change these position things
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;

  padding: 3px 10px;
  border: 1px solid $black;
  background: $white;
  border-radius: 5px;
}

//.drag-mask { // uncomment if you want to see the drag masks
//  background: $brand;
//  opacity: 0.2;
//}
