@import '../../imports';

.pinboard-measure-tile {
  @extend %module;
  padding: 6px 5px;
  padding-top: 9px;

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
    height: 1px;
    background: $background-base;
  }

  .dropdown {
    display: inline-block;
    width: 100%;
    padding: 6px 7px 6px 7px;
    margin-bottom: 1px;

    &:hover {
      &:after {
        @include pin-full;
        content: '';
        position: absolute;
        border-radius: 2px;
        border: 1px solid $border-medium;
        pointer-events: none;
        //box-shadow: 0 1px 1px 0 hsla(0, 0, 0, 0.1);
      }

      .caret-icon {
        path {
          fill: $text-light;
        }
      }
    }

    .selected-item {
      line-height: 19px;
    }

    .dropdown-label {
      display: inline-block;
      margin-right: 4px;
      color: $text-light;
      line-height: 19px;
      font-size: 11px;
      text-transform: uppercase;
    }

    .caret-icon {
      position: absolute;
      top: 11px;
      right: 11px;

      path {
        fill: darken($text-lighterish, 5%);
      }
    }

    .dropdown-menu {
      left: 0;
      right: 0;
    }
  }
}
