@import '../../imports';

.pinboard-measure-tile {
  @extend %module;
  height: 38px;
  border-bottom: 1px solid $background-base;

  .title {
    margin-left: 12px;
    margin-top: 13px;
    font-size: 12px;
    color: $text-light;
    text-transform: uppercase;
  }

  .dropdown {
    display: inline-block;
    position: absolute;
    padding: 3px 22px 1px 7px;
    margin-bottom: 1px;
    top: 5px;
    right: 5px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: $corner;

    &:hover {
      @extend %input-cont;

      .caret-icon {
        path {
          fill: $text-light;
        }
      }

      .selected-item {
        color: $text-standard;
      }
    }

    .selected-item {
      @include ellipsis;
      line-height: 19px;
      color: $text-light;
      max-width: 104px;
    }

    .dropdown-label {
      display: none;
      margin-right: 4px;
      color: $text-light;
      line-height: 19px;
      font-size: 11px;
      text-transform: uppercase;
    }

    .caret-icon {
      position: absolute;
      top: 9px;
      right: 7px;

      path {
        fill: $text-lighter;
      }
    }

    .dropdown-menu {
      margin-top: 1px;
      right: 0;
      width: 190px;
    }
  }
}
