@import '../../imports';

.pinboard-measure-tile {
  @extend %module;
  padding: 5px;

  .dropdown {
    display: inline-block;
    width: 100%;
    padding: 6px 7px 6px 7px;
    margin-bottom: 1px;

    &:hover {
      &:after {
        @include pin-full;
        content: '';
        position: absolute;
        border-radius: 2px;
        border: 1px solid $border-medium;
        pointer-events: none;
      }
    }

    .selected-item {
      line-height: 19px;
    }

    .dropdown-label {
      display: inline-block;
      margin-right: 4px;
      color: $text-light;
      line-height: 19px;
    }

    .caret-icon {
      position: absolute;
      top: 11px;
      right: 11px;
    }

    .dropdown-menu {
      left: 0;
      right: 0;
    }
  }
}
