@import '../../imports';

.header-bar {
  background: $brand;
  color: $white;
  font-size: 16px;

  .burger-bar {
    display: inline-block;
    height: 100%;
    padding-top: 13px;
    padding-left: 18px;
    cursor: pointer;

    .menu {
      margin-top: 1px;
      height: 12px;
    }

    .dataset-title {
      display: inline-block;
      margin-left: 15px;
    }
  }

  .right-bar {
    position: absolute;
    top: 0;
    right: 14px;
    height: 100%;

    .icon-button {
      display: inline-block;
      height: 100%;
      padding: 10px 6px;
      cursor: pointer;

      &:after {
        @extend %menu-cont;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        display: block;
        bottom: -24px;
        right: 0;
        padding: 5px;
        color: $text-standard;
        font-size: 12px;
        white-space: nowrap;
      }

      &.panic:after { content: 'Reset (in case of bug)'; }
      &.help:after { content: 'Google Groups'; }
      &.github:after { content: 'Project GitHub'; }

      &:hover {
        svg {
          opacity: 0.85;
        }

        &:after {
          opacity: 1;
        }
      }

      svg {
        height: 22px;
      }
    }
  }
}
