@import '../../variables';

.header-bar {
  background: $alpha-background;
  color: $alpha-text-color;
  font-size: 16px;

  .burger-bar {
    display: inline-block;
    padding: 10px 20px 0 10px;
    height: 100%;
    cursor: pointer;

    .arrow-logo {
      margin-top: -2px;
    }

    .dataset-title {
      display: inline-block;
      margin-left: 4px;
    }
  }

  .text-logo {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}
