@import '../../imports';

.header-bar {
  background: $brand;
  color: $white;
  font-size: 16px;

  .burger-bar {
    display: inline-block;
    height: 100%;
    padding-top: 13px;
    padding-left: 18px;
    cursor: pointer;

    .menu {
      margin-top: 1px;
    }

    .dataset-title {
      display: inline-block;
      margin-left: 12px;
    }
  }

  .right-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 9px 18px 0 12px;
    cursor: pointer;
  }
}
