@import '../../imports';

.totals {
  text-align: center;
  padding: 50px;

  .total {
    display: inline-block;
    border: 1px solid $border-extra-light;
    width: 180px;
    height: 90px;
    text-align: center;
    padding: 5px;
    margin-right: -1px;
    margin-bottom: -1px;

    .measure-name {
      padding-top: 15px;
      font-size: 15px;
      color: $text-medium;
    }

    .measure-value {
      padding-top: 10px;
      font-size: 20px;
    }
  }

  .loader {
    @include pin-full;
  }
}
