name: Size report

on:
  workflow_call: ~
  workflow_dispatch: ~

jobs:
  size-report:
    runs-on: ubuntu-latest

    if: github.event_name == 'pull_request'

    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup

      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          build_script: build:client
          skip_step: install
