@import '../../imports';

.number-filter-menu {

  .side-by-side {
    @extend %side-by-side;
  }

  .group {
    flex-direction: column;
  }

  .input-top-label {
    @extend %input-top-label;
  }

  input {
    @extend %default-input;
    margin-top: 6px;

    &.gray {
      color: $gray;
    }
  }
}
